[2015-11-18 10:25] tonioo opened #2 "Modoboa 1.4.0 and Django 1.8"
Ensure compatibility with those versions.

[2015-12-02 16:09] #2 closed

[2016-05-06 07:32] hydrandt opened #5 "Cron $INSTANCE/manage.py generate_rights warnings"
Hi,

After update to latest version of modoboa-radicale (1.0.4), the cronjob that runs manage.py generate_rights every two minutes first gave us:

<pre>
Traceback (most recent call last):
  File "/srv/modoboa/instance/manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/srv/modoboa/env/local/lib/python2.7/site-packages/django/core/management/__init__.py", line 353, in

[2016-05-06 08:34] tonioo commented on #5
There are two different issues in your description. The first one is problematic because it looks like you're using a Django (1.9.x) version not compatible with your modoboa version. Can you check that ?

The second one is just a warning (unfortunately, I can't get rid of it) and you can ignore it by redirecting stdout to /dev/null.

[2016-05-06 09:05] hydrandt commented on #5
Ah, I see. I suppose that this happened because I updated the modoboa package first, which caused Django to update to 1.9, and then waited a while before updating the radicale package - and the cron run in the meantime.

Ok, so if anyone gets the same warning, redirection of the cronjob stdout to /dev/null:

<pre>
vim /etc/cron.d/modoboa

and add &> /dev/null to the manage.py generate_rights line:

[2016-05-06 09:05] #5 closed

[2016-06-28 14:01] Toniob opened #6 "Handle also contact list"
Currently, this extension can only add a calendar . But radicale is also a carddav server. The modoboa-radicale extension should be able to add a contact list. Both are seen as a collection in radicale but as the frontend is using "calendar", it is confusing.

I think the extension should add the .vcf suffix to the name if we create a contact list or .ics in the case of a calendar.

[2016-06-28 14:33] Toniob opened #7 "Select the collections of a specific user"
In the frontend, clicking on a username should display the collections for this user only. Sorting by owner doesn't seem to work currently.

[2016-07-11 17:16] tonioo opened #8 "Access rules are not displayed anymore"
A django 1.9 compatibility issue...

[2016-07-11 17:16] #8 closed

[2016-08-12 07:11] dugite-code opened #9 "Unclear on setup instructions"
[Reading the docs](http://modoboa-radicale.readthedocs.io/en/latest/setup.html) along with the readme here, I haven't been able to clearly understand how radicale's settings should be set up in order to interface with modoboa properly.

I have assumed the radicale config:
[code]

Trying to set up the frontend. The modoboa side seems to work fine and the rights file is being written but I can't acc

[2016-09-07 08:09] tonioo commented on #9
How did you configure your client? What is your calendar url?

[2016-09-12 06:03] dugite-code commented on #9
Oh dear, now I feel foolish I forgot to add `base_prefix = /dav/` to `/etc/radicale/config`

[2016-09-12 06:03] #9 closed

[2016-10-12 13:10] tonioo opened #10 "Modoboa 1.6.1 compatibility"
Upgrade for compatibility.

[2016-10-12 13:15] #10 closed

[2016-10-12 13:37] tonioo opened #11 "Unicode issues in listing page"
When a calendar containing non ascii characters exists, the listing page is not displayed anymore.

[2016-10-12 13:41] #11 closed

[2017-03-09 20:36] Toniob opened #13 "Cron warning"
Since the last version (1.1.0), I've got those warnings when cron executes the task `generate_rights` :

  RuntimeWarning)

[2017-03-30 13:55] #13 closed

[2017-04-15 09:07] msenebald commented on #6
yep that would be nice

[2017-04-19 19:11] tonioo commented on #6
@Toniob I guess we can close this issue since it is addressed by a dedicated plugin now (https://github.com/modoboa/modoboa-contacts)?

[2017-04-20 08:23] Toniob commented on #6
Your new extension seems fine, but from what I understand, it doesn't handle carddav. Radicale does. It's not the same use case so.

Maybe you can do as we've talked before, keep this issue opened, and wait for Radicale 2.0 ?

[2017-04-20 09:53] tonioo commented on #6
Ok, let's do this. I don't know where I'll put the carddav support yet...

[2017-06-28 07:56] dugite-code commented on #6
I'm using this as a current workaround:

1. Create a calendar as normal

2. Go to your collection. For example a user calendar: /etc/radical/collections/domain.com/user/username/

3. edit `yourcalendar.prop` and change `{"tag": "VCALENDAR"}` to `{"tag": "VADDRESSBOOK"}`

Now you can connect to it with say the sogo connector on thunderbird and it will work (been using it for the past 4 months now).

[2017-10-13 14:19] tonioo opened #15 "User calendar display"
Allow full user calendars manipulation using fullCalendar.

[2017-10-17 17:34] mirtouf opened #16 "[Improvement] Documentation for using radicale"
Bonsoir,

the use of radicale with its own embedded web server (for version < 2.0) is not reliable because of its technological limitation (no support of http 1.1, limitation on ciphers, etc.) and it is better to use a proxy server like nginx.
I suggest to add on the documentation of radicale extension:

1. Stop of radicale service and disabling the service
2. Editing the radicale config with the

[2017-10-18 16:47] tonioo commented on #16
@mirtouf I'm currently working on a new version of the radicale plugin (with an embedded calendar within modoboa) which relies on Radicale2. Once done, I'll complete the installer to make it setup Radicale like you said and maybe add some documentation too. Check the https://github.com/modoboa/modoboa-radicale/tree/feature/user_calendar branch for more information.

[2018-04-03 12:47] tonioo opened #21 "Support non ascii characters in calendar url"
Adding a calendar using non ascii characters currently fails because the name is used to build it. We should avoid this and sanitize the url before trying to create it against the caldav server.

[2018-04-03 12:50] tonioo opened #22 "Missing shared calendar menu for simple users"
Simple users should be able to open a contextual menu on shared calendars in order to see the details (like url).

[2018-04-03 15:01] Toniob opened #23 "Error 500 when trying to switch to next month"
Hi,

With extension 1.3.0, the events are working fine on the current month. But when I try to switch to the next month (May), I'm having an error :
[code]

[2018-04-04 10:58] tonioo opened #24 "Wrong owners permission rule"
The current access rule which is supposed to allow owners to access their calendars is too restrictive.

[2018-04-04 11:00] #22 closed

[2018-04-04 11:01] #24 closed

[2018-04-05 14:50] tonioo commented on #23
The error is raised by the ``dateutil`` package when it parses your event. Looks like developers recently decided to be more RFC compliant (see https://github.com/dateutil/dateutil/issues/620) with inconsistency issues between DTSTART and UNTIL properties... Problem is, a lot a calendar clients generate wrong events (Outlook, Evolution, etc.)
For now, there is not easy way to fix this...

[2018-04-05 16:56] #21 closed

[2018-04-05 16:57] #15 closed

[2018-04-05 16:57] #7 closed

[2018-04-06 09:07] tonioo opened #27 "Event viewset breaks API documentation."
The ``get_serializer()`` method should not expect a required argument.

[code]

[2018-04-06 09:25] #27 closed

[2018-04-08 17:56] mirtouf commented on #16
Hi,
Is it possible to have a list of modules to be installed for radicale (or the proper manual way for enabling the calendar) ?
I am struggling to find the reason for my 403 error in radicale (debug is not very useful) or error 500 with modoboa as I get the inspiration through the modoboa installer.

[2018-04-09 12:07] tonioo commented on #16
@mirtouf Sure. First, you need Radicale > 2 (python3 only). Then, we use a specific [storage backend](https://github.com/tonioo/RadicaleStorageByIndex) and a specific [authentication backend](https://github.com/Arvedui/radicale-dovecot-auth). Finally, make sure the cron job which generates the ``rights`` file is active. (see config template [here](https://github.com/modoboa/modoboa-installer/blob/

[2018-04-09 12:37] mirtouf commented on #16
I installed the backends through Pypi, can it be the cause of failures ?
Would you mind giving me also the permissions and ownership of the collection files ?

[2018-04-09 12:54] tonioo commented on #16
Sorry, you need to install the storage backend from the github repository.

The collections belong to the radicale user and there is nothing special
about the permission. Have you checked your rights file?

On 09/04/2018 14:37, mirtouf wrote:

[2018-04-09 12:59] mirtouf commented on #16
I will check the rights file but I am using modoboa's cronjob for generating the file with no other change.
What is the way for installing the storage backend without Pypi ?
Thanks for the information.

[2018-04-09 14:01] tonioo commented on #16
[code]

[2018-04-10 19:44] mirtouf commented on #16
Is the modified version installable for the whole system or did I miss something with pip3 ?
[code]
In case I want to debug the error 500 I get when trying to create a calendar ( api/v1/user-calendars/ ), what should I check first ?

[2018-04-10 20:13] mirtouf commented on #16
After increasing verbosity of radicale, it seems the rights file is not being updated as it should.
May I have an example ?
Is this section correct ?
[code]

[2018-07-10 12:31] tonioo opened #31 "Make sure server location is a valid url"
[code]

[2018-07-16 08:13] #31 closed

[2018-07-16 08:14] tonioo opened #33 "Cannot set event attendee(s)"
[code]

[2018-07-16 15:59] thibmo opened #35 "Rights issue Radicale with Modoboa rights file"
When I try to manually log in to the Radicale server using their own web interface thing I seem to get a 401. (I fixed the issue with imap, btw, you now need to use a separate plugin for Radicale).
I also seem to be unable to create new agendas from within the Modoboa webclient (Using a mail-enabled user) I keep getting http/500 there, but probably a separate issue.

The log that I get when trying

[2018-07-17 07:05] tonioo commented on #35
@thibmo Have you checked rights file content?

[2018-07-17 07:39] thibmo commented on #35
Yep, I'll post it here, too as reference.
I generated the rights file via the modoboa command `python manage.py generate_rights --force`

The rights file
[code]

The collection dir
[code]

[2018-07-17 10:17] tonioo commented on #35
Which version of Radicale are you using?

[2018-07-18 12:50] tonioo commented on #35
And what calendar client do you use? Are you trying to access an owned calendar, or a shared one?

[2018-07-18 13:48] thibmo commented on #35
I was using the Radicale's own webapp. With the Modoboa extention/webmail I only get the 500 errors.

[2018-07-19 13:10] tonioo commented on #35
@thibmo How did you install the radicale plugin? Manually?

[2018-07-19 13:22] tonioo opened #36 "Prevent access to user with no mailbox"
To avoid issues.

[2018-07-20 08:26] #36 closed

[2018-07-21 18:07] thibmo commented on #35
Sorry for the late reply.

I installed it manually via:
[code]

[2018-08-19 08:31] tonioo commented on #35
@thibmo The 500 error at creation might be due a bad certificate (ie self signed one or invalid certification chain)

[2018-08-19 13:25] thibmo commented on #35
Right, so I found the issue here.
Caldav release 0.5.0 doesn't have ical.py, this was added after the release of 0.5.0: [0af268c9c40415e9c464d994ca35fe925f461baf](https://github.com/python-caldav/caldav/commit/0af268c9c40415e9c464d994ca35fe925f461baf#diff-cb03b9c2ee82ec16f9fee652a56638ea)

[2018-08-19 14:34] thibmo commented on #35
Perhaps it'd be easier if I provide you with some temp credentials, then you can have a look at how things are on my server and what the real issue is here.
(It's a Debian container, btw)

[2018-08-19 14:36] tonioo commented on #35
@thibmo You need to install the fork we made of caldav. Look here: https://github.com/modoboa/caldav.

[2018-08-19 15:08] thibmo commented on #35
Thanks for the reply.
Pulled your fork but still have the issue.

[2018-08-20 13:42] tonioo commented on #35
@thibmo How did you install it?

[2018-08-20 14:26] thibmo commented on #35
The current one (30 days ago from today): Using the modoboa installer.
Then I followed the steps of the recent comments. I downloaded your caldav fork via wget for each (raw) file.

[2018-08-20 14:33] tonioo commented on #35
To make sure the installation is correct, you can execute the following command (with the virtualenv loaded):
[code]

[2018-08-20 14:33] tonioo commented on #35
And reload uwsgi of course.

[2018-09-06 10:32] jakicoll opened #38 "When csrftoken is set as HttpOnly-Cookie, X-CSRFTOKEN Header is "" for Ajax-Requests"
When I try to create a new calender as normal user, after setting the name and color and clicking Submit, the windows does not disappear and no calendar is created. So I investigated this a little:

Chromium reports that the csrftoken cookie is set as HttpOnly-Cookie. Therefor it can not be accessed by javascript (document.cookies just returns an empty string), and thus no valid X-CSRFTOKEN Header

[2018-09-25 11:05] tonioo commented on #38
@jakicoll Your trace says you're using FF, not chromium... Can you tell me which versions please?

[2018-09-25 11:30] jakicoll commented on #38
I guess it's because you webserver does not mark the cookie as HttpOnly.

I think that somewhere in Django a default setting has changed and the cookie needs to be marked as JavaScript readable explicitly from now on.

I hope I can look into in this week and will tell you if I found a cause. Unfortunately I'm not really familiar with Django yet, but time will come... :)

Am 25. September 2018 13:2

[2018-09-25 11:36] tonioo commented on #38
Can you check if your settings.py contains the following setting:
CSRF_COOKIE_HTTPONLY ?

Le 25/09/2018 à 13:30, Jakob S. a écrit :

[2018-09-30 14:11] jakicoll commented on #38
Okay, it was entirely my fault; my webserver flags all outgoing cookies as httponly. :blush:

I didn't look at this first, because my browser had other cookies from services running on the same vhost, that didn't have a HttpOnly flag set. (So I concluded, the flag was set by the modoa/django). Turns out, those cookies were written with javascript on client side...

So, if anyone else ever get's st

[2018-09-30 14:11] #38 closed

[2018-10-16 09:05] AmazingBeu opened #39 "Can't create calendar with self signed certificate"
I can't create new calendar with self signed certificate. I have this error 500 from /api/v1/user-calendars/ :
[code]

Version of modoboa :
Modoboa            1.11.1
Amavis frontend 1.2.3
Contacts             0.7.2
DMARC tools 1.1.0
PDF credentials 1.3.1
Postfix autoreply 1.5.0
Radicale management 1.3.6
Sieve filters 1.4.1
Statistics 1.4.0
Webmail 1.5.0

[2018-10-16 15:06] stefaweb opened #40 "Error 500 in /api/v1/mailboxes/ when using login without mailbox."
If I go to https://mailserver/docs/api/#mailboxes-list/api/v1/mailboxes/, I got an error 500.

In /var/log/uwsgi/app/modoboa_instance.log:
GET /api/v1/mailboxes/ => generated 870 bytes in 217 msecs (HTTP/1.1 500) 5 headers in 181 bytes (1 switches on core 0)

Same if I use /api/v1/mailboxes/{id}/.

[code]

In https://github.com/modoboa/modoboa/issues/1582
@stefaweb I think the bug you encounter wi

[2018-10-29 19:22] mirtouf commented on #35
Is it possible to test with a virtualenv based on python 3 ?
I used to have the same issue with python 2.7 but not the same version of modoboa and modoboa-radicale though.

[2018-10-29 20:10] thibmo commented on #35
Sorry for the long wait.
Just installed the egg, fixed a TLS version issue (Seems I needed to switch it from `PROTOCOL_TLSv1_2` to `PROTOCOL_TLS`.
I restarted supervisord and uwsgi but still get the 500 error.
I can create calendars but I can't do anything else with them.

When inspecting `/srv/radicale/collections/collection-root` I do see directories but no content, also `.Radicale.lock` is date

[2018-10-29 20:26] mirtouf commented on #35
Are you using uwsgi for spawning radicale ?

[2018-10-29 20:27] thibmo commented on #35
I used to, but this didn't work, so I switched to supervisord (Which the installer setup, iirc)

[2018-10-29 20:33] mirtouf commented on #35
Would you mind copying the configuration for supervisor you are using ?

[2018-10-29 20:46] thibmo commented on #35
Sureo
[code]

[2018-10-29 21:04] mirtouf commented on #35
I can reproduce this behaviour.

[2018-10-29 21:11] thibmo commented on #35
What setup are you using that fixed the issue?
I'm guessing Python 3 virt env based on your earlier reply..

[2018-10-29 21:13] mirtouf commented on #35
It helps, give me a moment I am trying to figure out where it fails.

[2018-10-29 21:46] thibmo commented on #35
Could you perhaps share your steps?
Perhaps I did it all a bit too simplistic, but what I did:
[code]

When doing a `ps aunxf` I get:
[code]

[2018-10-29 22:01] mirtouf commented on #35
Can you confirm you installed imap plugin for radicale ?

[2018-10-29 22:10] thibmo commented on #35
I just double checked and saw it was missing, so I did the following:
[code]
Checked again, same issue when deleting, then recreating.

[2018-10-30 07:18] tonioo commented on #35
@thibmo And the error is still the same? Make sure you installed all the required Radicale plugins. You can check what the installer does: https://github.com/modoboa/modoboa-installer/blob/master/modoboa_installer/scripts/radicale.py#L30.

[2019-02-28 18:54] danielsatanik opened #41 "NotFoundError at /api/v1/user-calendars/1/events/"
OS: Ubuntu 18.04
Modoboa: 1.13.0
Modoboa-radicale: 3.6.0

I will attach the full error I got by email here, because I think it may help more:

[mail.html.pdf](https://github.com/modoboa/modoboa-radicale/files/2916451/mail.html.pdf)

I think it mostly happens when I just open the calendars tab

[2019-03-01 11:10] tonioo commented on #41
@danielsatanik Can you give more information please? (how did you create the calendar, was is working before, ...)

[2019-03-02 19:37] danielsatanik commented on #41
Actually no, it wasn't working before, I just tried now using radicale. It seems there is a more serious issue, because when I try to open either of a calendar or the contacts list provided by radicale it does not match according to the logs and returns `The requested resource could not be found.`

I added a logging conf for radicale to log to a file /var/log/radicale/log (according to the docs)
t

[2019-03-03 02:31] PatTheMav commented on #41
My output looks more or less the same. Calendar creation doesn't work in the Web interface (this API error).

Opening Radicale directly (via https://MAILSERVER/radicale/USER@MAILSERVER/contacts also responds with HTTP 404.

[2019-03-03 11:46] danielsatanik commented on #41
Hi,

I dig a little more into the issue and for me it seems the calendar that weren't accessible were created before I actually used radicale. When I add new single or shared calendars it works perfectly fine.

What is still not working is the CardDAV resource. As @PatTheMav says the contacts resource is not found. It seems modoboa does not write the contacts in radicale. Because I can see the cal

[2019-03-05 08:32] tonioo commented on #41
@danielsatanik Have you checked if contacts sync is enabled in user preferences?

[2019-03-05 19:07] danielsatanik commented on #41
@tonioo you where right. I missed that one has to enable it. Enabling it though leads to the next issue. I had to enable DEBUG in the settings.py and this is the error that I got:

[code]

[2019-03-06 13:42] PatTheMav commented on #41
I haven’t checked the contacts part in depth yet (but I did check that box), but it doesn’t work for me either.

As for the calendar issue, I see that a calendar entry is created in the Modoboa database, yet no file is created in radicale’s collection folder. IIRC it’s supposed to use the custom SQLite backend but I don’t see any file `Radicale.index.db` anywhere in radicale’s home folder. So of c

[2019-03-06 20:54] PatTheMav commented on #41
@danielsatanik Did you try `python manage.py migrate` and `python manage.py collectstatic` already?

[2019-03-06 21:21] danielsatanik commented on #41
@PatTheMav yes, this is part of my standard procedure when I change something. I also run `python manage.py check --deploy` and restart the server afterwards `systemctl restart uwsgi`.

[2019-03-08 08:29] tonioo commented on #41
@danielsatanik Can you try to add ``django_filters`` to the INSTALLED_APPS variable in settings.py?

[2019-03-08 10:37] danielsatanik commented on #41
@tonioo that did the trick, thank you very much. I'm pretty sure though I followed the upgrade instruction every time to the letter, was this mentioned somewhere?

Thank you none the less, since my issue is resolved I will close this issue.

[2019-03-08 10:37] #41 closed

[2019-03-08 11:46] AmazingBeu opened #42 "The deletion of a right is not applied to the Radical rights file"
Need to add --force in **manage.py generate_rights** command to overwrite the rights file

[2020-02-02 14:43] mrananyan opened #43 "Django version"
When i trying to install radicale at modoboa-install's created virtual env (/srv/radicale/env)
it's showing this error.

[code]

[2020-02-04 07:57] tonioo commented on #43
@mrananyan Is a manual operation you're doing or are you talking about the installer?

[2020-02-21 15:07] tonioo opened #45 "Allow read-only access using a token"
Each calendar should provide a token to ease read-only access (ie. without authentication).

[2020-02-24 08:09] #45 closed

[2020-02-25 08:26] tonioo opened #47 "Import events from ICS file"
Allow users to import events from an ICS file.

[2020-02-25 09:34] #47 closed

[2020-03-02 07:39] adam-codeberg commented on #40
Getting a similar issue when trying to create a Calendar.
Running on Ubuntu 18.04. Fresh install via the installer script.

Modoboa | 1.14.0
Radicale management | 1.3.6

```/api/v1/user-calendars/:1 Failed to load resource: the server responded with a status of 500 (Internal Server Error)```

[2020-03-09 14:15] protogonfs opened #49 "Cant' create caledars"
* Modoboa: 1.13.1 and 1.14
* installer used: Yes
* Webserver: Nginx
* OS: Ubuntu 18.04.2 LTS

# Steps to reproduce
With a fresh installation done trough the installer, try to create a new calendar for a user.

# Current behavior
When I click on 'Create', nothing seems to happen. Error 500 came up in /var/log/uwsgi/app/modoboa_instance.log. Using a Let's Encrypt certificate for SSL.
Error:
[...] [p

[2020-05-07 15:55] #43 closed

[2020-05-07 15:55] tonioo opened #51 "Upgrade to fullcalendar 5.x"
Version 3 is not supported anymore.

[2020-06-02 02:40] PetroGolovnya commented on #49
In modoboa 1.15.0 and modoboa-radicale 1.4.3 i have same issue.  But without ssl errors. Certificate from letsencrypt.
I can create calendar, bit not cat to create events in calendar.

{50 vars in 939 bytes} [Tue Jun  2 04:35:41 2020] GET /calendars/ => generated 5699 bytes in 295 msecs (HTTP/1.1 200) 5 headers in 163 bytes (1 switches on core 0)
{48 vars in 832 bytes} [Tue Jun  2 04:35:41 2020] G

[2020-06-08 04:57] PetroGolovnya opened #52 "Can`t create events in calendar"
Modoboa: 1.15
 installer used: Yes
 Webserver: Nginx
 OS: Ubuntu 20.04 LTS

Radicale 2.1.11 from ubuntu repo, modoba install installed 3.x

Steps to reproduce

With a fresh installation done trough the installer, try to create a new event in calendar Calendar1 for a user and error 500.

ls /srv/radicale/collections/collection-root/mrfadi@air6x.com/
Calendar1  contacts  Meetings

Server response wi

[2020-06-09 08:45] tonioo commented on #52
@PetroGolovnya The first link has expired...

[2020-06-09 08:48] PetroGolovnya commented on #52
[http://paste.org.ru/?f6h6qh](http://paste.org.ru/?f6h6qh)

[2020-06-09 09:10] tonioo commented on #52
@PetroGolovnya I see you're using python 3.8. Modoboa has not been officialy tested with this version.

[2020-06-09 09:16] PetroGolovnya commented on #52
Which version  of python you recomend?

[2020-06-09 09:17] tonioo commented on #52
Python 3.7 is the most recent version which is known as compatible.

[2020-06-09 09:19] PetroGolovnya commented on #52
ОК. I try swith to 3.7 and make calendar test.

[2020-06-09 15:31] PetroGolovnya commented on #52
Modoboa: 1.15
installer used: Yes
Webserver: Nginx
OS:  Ubuntu 18.04

Radicale 2.1.12 in /srv/radicale
Python 3.6.9

just add calendar and refresh [http://paste.org.ru/?egabfz](http://paste.org.ru/?egabfz)
When i try to add event in calendar [http://paste.org.ru/?b59r4d](http://paste.org.ru/?b59r4d)
Radicale config [http://paste.ubuntu.com/p/rgpgRyHbQC/](http://paste.ubuntu.com/p/rgpgRyHbQC/)

[2020-06-23 14:49] tonioo opened #53 "Generated rights file is not compatible with Radicale 3+"
The rights file format has changed. See https://github.com/Kozea/Radicale/blob/3.0.0/NEWS.md

[2020-06-23 14:52] tonioo commented on #52
@PetroGolovnya does you event contains any special characters? Have you tried using only ASCII chars?

[2020-06-24 03:46] PetroGolovnya commented on #52
Links in last message still accessible.
Event not contains any special charters, cyrillic \ chinese lettrs.
For example:
![изображение](https://user-images.githubusercontent.com/25701171/85497377-02ba9f80-b608-11ea-9571-9b5f8f9b260b.png)

[2020-08-06 14:56] ASLLR commented on #39
Hi,

i've the same issue in modoboa 1.15

thank you,

[2020-08-28 19:34] tonioo commented on #52
@PetroGolovnya Sorry for the delay but can you check that you have caldav version 0.6.2 installed in your virtualenv?

[2020-09-13 13:39] vnen commented on #52
I have the same issue, also using Python 3.8.

Not sure if I'm looking at the right place but it looks like caldav version is 0.5.0 here. Is there an easy way to update this (I'm not familiar with Python virtualenv)?

[2020-11-11 19:56] vkarpyuk opened #59 "Radicale Issue"
Hi Guys. I have two issues with radicale calendar and I guess somehow they are related.

Firstly, when I go /calendars/#/ on the web interface it allows me to create new calendars but when I try to create a new event it doesn't allow me.
<img width="1293" alt="issue-caldav-event-01" src="https://user-images.githubusercontent.com/1640951/98853546-87bb1f80-2416-11eb-8204-619e2e0dfe5b.png">

Logs fro

[2020-11-12 13:56] tonioo commented on #59
@vkarpyuk Can you check which Radicale version you're using please? And also, can you give information about your Modoboa setup?

[2020-11-12 16:38] vkarpyuk commented on #59
Hi @tonioo,

Thanks for your prompt reply!

Here you are the installation information

<img width="1572" alt="modoboa-installation-info" src="https://user-images.githubusercontent.com/1640951/98968259-ab3fa200-24ca-11eb-8833-821034a961ad.png">

Regards,
Viktor

[2020-11-12 17:03] tonioo commented on #59
@vkarpyuk And what you Radicale? (the server part)

[2020-11-12 17:16] vkarpyuk commented on #59
@tonioo what do you mean by the server part? It was installed as part of the installation of the modoboa server.

[2020-11-12 17:39] tonioo commented on #59
@vkarpyuk Radicale is a caldav/carddav server used to store calendars and contacts on your server. It is automatically installed by the installation script and the package should be installed in /srv/radicale/env. Looking at your logs, I think you're using an old version, which is possible if you installed Modoboa some time ago.

[2020-11-12 19:58] vkarpyuk commented on #59
@tonioo I installed the lates modoboa version that was available at the time of installation. I previously had a problem and had to reinstall the server. In fact, I switched to a new server so had to reinstall everything. It's weird because it's not longer a couple of months since I installed it.

[2020-11-13 15:55] vkarpyuk commented on #59
Hi @tonioo,

Should I upgrade radicale to https://radicale.org/3.0.html? In case it's yes, will it be integrated with the modoboa server?

Thanks.

[2020-11-14 19:54] vkarpyuk commented on #59
Guys, do you have any clue of what should I do in order to make the radicale work as expected? Should I reinstall it? If yes, do how do I run the installation script without affecting the modiboa installation?

I would appreciate you response!

Thanks in advance!

[2020-11-17 19:35] MeGaMoV commented on #59
Hi @vkarpyuk,

After a lot of weird debugs during 1 entire week, i have finally found how to fix this.

### 1 : Update / Downgrade radicale server 👨‍💻

`source /srv/radicale/env/bin/activate`
`pip install radicale==2.1.12`

You will ask me "_Why 2.1.12 ?_", because it's the latest version working for modoba.
If you take a look at : https://github.com/Kozea/Radicale/blob/3.0.6/NEWS.md#upgrade-check

[2020-11-17 22:08] vkarpyuk commented on #59
Hi @MeGaMoV!

Thank you very much for your detailed explanation! Fingers crossed, I hope this will work for me too! Will keep you posted once I'm done with the re-installation!

Regards,
Viktor

[2020-11-19 05:32] vkarpyuk commented on #59
Hi @MeGaMoV,

tried to change the radicale version to 2.1.12 but still the same erros.

Regards,
Vik

[2020-11-19 06:40] MeGaMoV commented on #59
Hi @vkarpyuk,

Please confirm us what version of radicale server do you have with
[code]

[2020-11-19 16:37] vkarpyuk commented on #59
Hi @MeGaMoV!
Thanks for help with commands. Here the result of **pip list**:
<img width="862" alt="radicale-version" src="https://user-images.githubusercontent.com/1640951/99695337-b0f93280-2a4a-11eb-9a16-29e9f5bb7630.png">

[2020-11-19 16:50] MeGaMoV commented on #59
Ok then, it's weird because you have radicale 3.0 parsing errors..

Please do this command :
`supervisorctl restart radicale`

And then live check supervisor logs with :
`tail -f /var/log/supervisor/radicale*.log`

And try to create a new event / calendar in the panel to show us what you have.

Thanks

[2020-11-19 17:30] vkarpyuk commented on #59
This is how my /radicale config file looks like(just in case)

[code]

I created a new calendar event, however, couldn't find any log related to the event creation in this log (tail -f /var/log/supervisor/radicale*.log)

<img width="1724" alt="radicale-event-log" src="https://user-images.githubusercontent.com/1640951/99701694-0553e080-2a52-11eb-9ce2-05548fbb49a3.png">

[2020-11-19 17:40] MeGaMoV commented on #59
Can you check for us if your radicale server is running ?
`supervisorctl status radicale`

Looks like it couldn't start because of the error I mentioned earlier

[2020-11-19 22:15] vkarpyuk commented on #59
I've checked the status before, and it works.

<img width="569" alt="radicale-status-running" src="https://user-images.githubusercontent.com/1640951/99730651-11ec2f00-2a7a-11eb-8f39-b6c9bc5f4600.png">

[2020-11-19 22:32] MeGaMoV commented on #59
Ok so everything looks fine now.
You will not see any info logs into this file because it only shows errors ;)

[2020-11-24 18:09] vkarpyuk commented on #59
Hi @MeGaMoV,

Thanks for all your support! After all done, I still have the same issue. My calendar is not being synced to radicale :(. As of now, I'm using thunderbird but only its local storage.

I Will keep you posted once I have more details. It looks like there's something else missing on the server-side of modoboa/radicale configuration.

Regards,
Vik

[2020-11-24 18:14] MeGaMoV commented on #59
Hi @vkarpyuk ,

Is the internal modoboa/radicale web calendar working without any issue ?

[2020-11-24 18:16] vkarpyuk commented on #59
Hey @MeGaMoV,

No, it doesn't.

[2020-11-24 18:21] MeGaMoV commented on #59
Ok then, what do you have when checking the logs ?
`tail -f /var/log/supervisor/radicale*.log`

[2020-11-24 18:23] vkarpyuk commented on #59
It doesn't log any error there.

[2020-11-24 18:24] vkarpyuk commented on #59
[7fa7de38a740] ERROR: An exception occurred during server startup: Failed to load storage module 'radicale_storage_by_index': No module named 'radicale.storage.multifilesystem'; 'radicale.storage' is not a package
[7fe4900f4740] ERROR: An exception occurred during server startup: Failed to load storage module 'radicale_storage_by_index': No module named 'radicale.storage.multifilesystem'; 'radical

[2020-11-24 18:29] MeGaMoV commented on #59
Ok it's the errors you've got last day. What errors you have into your web browser ? Is still 500 error ?

[2020-11-24 18:29] vkarpyuk commented on #59
Yes,
<img width="1777" alt="Screen Shot 2020-11-24 at 11 28 45 AM" src="https://user-images.githubusercontent.com/1640951/100136459-4ed46f00-2e48-11eb-9cf7-f5f43b95ab16.png">

[2020-11-24 18:31] MeGaMoV commented on #59
Do you get errors with the personnal calendar or only the shared one ?

[2020-11-24 18:32] vkarpyuk commented on #59
Either of them.

[2020-11-24 18:53] MeGaMoV commented on #59
Can you see your account / mail in the radicale's right file ?
`/etc/radicale/rights` ?

And in the first line check the time that it was generated like this (normally <= 2 mins ago) :
![image](https://user-images.githubusercontent.com/48834521/100138662-a85f8c80-2e8e-11eb-9389-943cebbb6cbb.png)

[2020-11-24 18:58] vkarpyuk commented on #59
Here you are the snapshot of /etc/radicale/rights file:

# Rights management file for Radicale
# This file was generated by Modoboa on 2020-11-22 21:10:04.252721
# DO NOT EDIT MANUALLY!

[sa-admin-acr]
user = admin
collection = .*
permission = rw

[sa-viktor@kubrikdigital.com-acr]
user = viktor@kubrikdigital.com
collection = .*
permission = rw

[da-admin@kubrikdigital.com-to-kubrikdigital.com-acr]

[2020-11-24 19:09] MeGaMoV commented on #59
Take a look here https://modoboa-radicale.readthedocs.io/en/latest/setup.html

For me, i need to force ( I don't know why :D )  :

Manually :
[code]

Verify your cron line :
[code]
![image](https://user-images.githubusercontent.com/48834521/100140175-dfcf3880-2e90-11eb-9238-38d7bcc78020.png)

[2020-11-24 19:49] vkarpyuk commented on #59
Did as you mentioned. Regenerated the rights file and restarted redicale service(just in case). Tried again to create a new event on the modoboa calendar app and again, it's failing with 500.

[2020-11-24 19:51] MeGaMoV commented on #59
Is the date and elements on /etc/radicale/rights file changed ?

[2020-11-24 19:53] vkarpyuk commented on #59
Oh sorry! I've forgotten to mention that the file's date had changed.

[2020-11-24 20:09] vkarpyuk commented on #59
Just realized that it also fails with 500 for the initial page load of the events. Look at the console log

<img width="1777" alt="Screen Shot 2020-11-24 at 1 07 15 PM" src="https://user-images.githubusercontent.com/1640951/100145859-353a2400-2e56-11eb-80db-319341e71147.png">

[2020-11-24 20:15] vkarpyuk commented on #59
@MeGaMoV,

That's very very weird! I deleted previous calendars: one personal and the other one shared. Created a new Test Calendar and I was able to create events without failures.

[2020-11-24 20:18] MeGaMoV commented on #59
Yes maybe creating a new one with this configuration wil work now, is it ok now ? Same for Contacts ?

[2020-11-24 21:17] vkarpyuk commented on #59
The contacts were working perfectly. Still have a problem with shared calendars.

[2020-11-25 00:02] vkarpyuk commented on #59
@MeGaMoV, it still gives me 500 when I try to post a shared calendar event.

[2020-11-25 09:33] tonioo commented on #59
@vkarpyuk Shared calendars are not working as expected because Radicale does not really support them. I need to figure out how to solve this...

[2020-11-25 16:10] #53 closed

[2020-11-25 16:12] tonioo commented on #59
Looks I opened a bug regarding the access file format a few months ago (https://github.com/modoboa/modoboa-radicale/issues/53) but I totally forgot to release the fix!

[2020-11-25 18:14] vkarpyuk commented on #59
Hi @tonioo,

Thanks for the heads up, that would be a great feature to have! Also, I would recommend you to review the personal calendar functionality.

I have one use case where my user can create/fetch events in the modoboa web calendar. However, another user can create the event in the modoboa web calendar, it gets persisted and accessible from thunderbird, but it fails with 500 in the modoboa

[2020-11-28 08:31] #51 closed

[2020-11-28 09:27] tonioo commented on #52
@vnen Is this issue still happening?

[2020-11-30 14:49] tonioo commented on #6
Contacts and CardDAV synchronization are managed by the modoboa-contacts plugin.

[2020-11-30 14:49] #6 closed

[2020-11-30 14:50] tonioo opened #62 "Recurring events are not displayed"
Looks like recurring events (created using another client or imported) are not displayed. Looks like an issue with the caldav library but it requires more investigation.

[2020-11-30 15:45] tonioo opened #63 "An attendee does not always have a CN field"
Looks like it is not a required information.
[code]

[2020-11-30 15:51] tonioo commented on #62
It's actually a Radicale issue (https://github.com/Kozea/Radicale/issues/662) which does not support expanding events yet.

[2020-12-02 19:13] vnen commented on #52
@tonioo yes. I've upgraded Modoboa to 1.17.0 but I still get the same error.

[2020-12-04 09:00] koen860 opened #64 "Can't make calendar events."
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
I'm running a fresh install on CentOS 7 with external Mysql DB.

# Current behavior
I installed a fresh copy of Modoboa and noticed that the calendar function isn't working correctly. After some investigation i noticed that radicale is not started. When i start Radicale i saw this message:
[2020-0

[2020-12-04 14:38] tonioo commented on #52
@vnen Looks like there was a permission issue in the default configuration. I've pushed a fix and I'll release a new version of the plugin soon. Don't forget to update your plugins too.

[2020-12-04 14:38] tonioo commented on #59
@vkarpyuk Looks there was a permission issue with default configuration. I've pushed a fix and I'll release a new version soon.

[2020-12-04 14:44] #63 closed

[2020-12-04 15:51] tonioo commented on #59
Could you try version 1.5.1 please? And don't forget to regenerate the rights file.

[2020-12-04 18:19] vnen commented on #52
@tonioo I updated it but it seems the rights file isn't regenerated, so it's still an issue. Is there a way to force it to regenerate? Or should I just do it by hand?

[2020-12-04 20:02] vkarpyuk commented on #59
Hi @tonioo,

Thanks a lot! I will try at the weekend. I can't compromise the server today. Are there any specific steps to be taken? I've never upgraded before. Any comments are welcome!

Thanks in advance!

[2020-12-04 20:14] tonioo commented on #52
@vnen You can call the same command using the --force option. (Look at the /etc/cron.d/modoboa file)

[2020-12-04 20:18] tonioo commented on #59
Take a look at the documentation: https://modoboa.readthedocs.io/en/latest/upgrade.html#extensions.

[2020-12-31 08:18] extragreen opened #69 "Radicale rights file issue/error when trying to enable Carddav sync"
Every time I try to enable carddav sync:

![image](https://user-images.githubusercontent.com/11571540/103401096-c01be600-4b9b-11eb-9c15-e4c42c9cb28e.png)

It comes up with this error in /var/log/supervisor/radicale*.log:

`ERROR: An exception occurred during OPTIONS request on '/postmaster@DOMAIN.net/contacts': Error in section 'principal' of rights file '/etc/radicale/rights': 'user'`

My rights

[2020-12-31 16:16] tonioo commented on #69
@extragreen You need to upgrade Radicale to 3.x

[2021-01-01 03:53] extragreen commented on #69
Happy new year @tonioo!
And thanks for the tip, updated to radicale 3.0.6 and works great now thanks!

[2021-01-01 03:53] #69 closed

[2021-01-28 17:59] PatTheMav commented on #59
To pick this up, I am running modoboa-radicale v1.5.1 and the current version of Radicale and when running with debug output I get this error:

[code]

The rights file was regenerated right before I ran the test, here's the content for the `principal` section:

[code]

Do note that this error occurs for calendar access as well as for contacts.

[2021-01-29 12:33] tonioo commented on #59
@PatTheMav Do you see more information in radicale logs?

[2021-01-29 12:37] PatTheMav commented on #59
Not that I can see - I ran radikale with debug mode to see the live output - the login via dovecote-auth works, it checks against the rights file successfully, the vCard also looks right, but then it just says that there is a conflict and returns 409.

I still have to run some tests with other identities to rule out that something might be broken with this particular identity.

[2021-04-07 05:54] lpossamai opened #72 "Calendar URL for CALDAV?"
I couldn't find this information in the documentation.

If I wanna use a CALDAV client on my android phone, which URL should I use? Using my email address or my mail server URL, I get a `Couldn't find CalDAV or CardDav service` error.

[2021-04-07 07:00] tonioo commented on #72
From the web panel, Click on you calendar, a menu should appear. Select the fist entry (Information), it will open a popup where you can find the url you're looking for.

[2021-04-07 07:00] #72 closed

[2021-04-07 07:59] lpossamai commented on #72
Worth updating the documentation with the above information.

[2021-05-17 06:18] bhanuvrat opened #73 "unable to create events in calendar"
The traceback

[code]

rights file
[code]

Everything is up-to-date:

![image](https://user-images.githubusercontent.com/499894/118440768-c99a8a80-b705-11eb-99fa-699351f3cb3e.png)

[2021-07-27 13:06] malteneu opened #75 "Shared Calendars"
In the Calendars I am missing the Shared Calendar view. I cannot create any shared calendars even as Admin.

Current installed version is 1.5.1 and no Errors found so far in the Network Tab.

Regards,

Malte

![grafik](https://user-images.githubusercontent.com/71597734/127158616-5a84253f-6954-4d73-9fb4-82af68325f57.png)

[2021-07-27 15:40] LexFuturorum commented on #75
https://you.domain.tld/docs/api/#/default/createSharedCalendar i tried creating one there but I got code:500 if you find a menu tell me where you found im searching for days now. #PERFECTDESIGN

[2021-07-28 06:13] #75 closed

[2021-10-01 14:22] PatTheMav commented on #59
@tonioo Better late then never, I've managed to find the root cause of my issues:

* Root cause for the `403 Forbidden` error is a missing `.Radicale.props` file that correctly identifies a folder inside the collection as an address book or a calendar. Adding such a file with `{"tag": "VADDRESSBOOK"}` as its sole content fixed the issue for adding/editing contacts.
* Modoboa might need to abort th